extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let shirtid = toShow._id 
    - let shirt_type = toShow.shirt_type 
    - let shirtcost = toShow.cost 
    - let shirtsize = toShow.size 
    - let actionid = "/resource/shirts/" + shirtid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='shirtAttr mr-3') shirt ID is: 
        div #{shirtid} 
      div.row 
        div(class='shirtAttr mr-3') shirt Type is: 
        div #{shirt_type} 
      div.row 
        div(class='shirtAttr mr-3') shirt Size is: 
        div #{shirtsize} 
      div.row 
        div(class='shirtAttr mr-3') shirt Cost is: 
        div #{shirtcost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the shirt collection 
      window.location.href='/shirts' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/shirts' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 